//
//  Color
//      NOTE: Enable Vuetify 'customProperties'
//
$primary: var(--v-primary-base);
$secondary: var(--v-secondary-base);
$accent: var(--v-accent-base);
$error: var(--v-error-base);
$info: var(--v-info-base);
$success: var(--v-success-base);
$warning: var(--v-warning-base);
$background: var(--v-background-base);
$scrollbar-bg: rgba(190, 190, 190, 0.5);
$scrollbar-thumb: rgba(0, 0, 0, 0.2);
